.common-modal {
    width: 100%;
    padding: 10px 6px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.title {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}
.cancel-btn {
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    background: #1992bc;
    height: 26px;
    color: white;
    border: 1px solid #1992bc;
}

.modal-register-success content {
        font-size: 12px;
        font-weight: 300;
        color: #000000;
        text-align: center;
}